{% extends 'base.html' %}

{% block head %}
<title>{{ blogBase['postTitle'] }}</title>
{% if blogBase['highlight']==1 %}<link href="{{ blogBase['homeUrl'] }}/assets/starry-night@3.6.0/style/{{ blogBase['starryNight'] }}.css" rel="stylesheet" />{% endif %}
{% endblock %}

{% block style %}
<style>
h1 a:not([href]){color:inherit;text-decoration:none;vertical-align: bottom;font-size:35px;}
.title-right{display:flex;margin:auto 0 0 auto;}
.title-right .circle{padding: 14px 16px;margin-right:8px;}
#postBody{border-bottom: 1px solid var(--color-border-default);padding-bottom:36px;}
#postBody hr{height:2px;}
#cmButton{height:48px;margin-top:48px;}
#comments{margin-top:64px;}
.g-emoji{font-size:24px;}
@media (max-width: 767px) {body {padding: 8px;}}

pre {
    white-space: pre-wrap; /* 保留空白符和换行符，同时允许换行 */
    word-wrap: break-word; /* 允许长单词或 URL 换行 */
    overflow-x: auto; /* 如果内容仍然溢出，显示水平滚动条 */
}

.new-post {
    bottom: 20px; /* 距离底部 20px */
}

.edit-post {
    bottom: 60px; /* 距离底部60px */
}

/* 悬浮按钮样式 */
.floating-button {
    position: fixed; /* 固定位置 */
    right: 5%; /* 距离右侧 5% */
    background-color: #007bff; /* 背景颜色 */
    color: white; /* 文字颜色 */
    border: none; /* 去掉边框 */
    border-radius: 50%; /* 圆形按钮 */
    width: 32px; /* 宽度 */
    height: 32px; /* 高度 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标指针样式 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    z-index: 1000; /* 确保按钮在最上层 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* 添加悬停效果 */
}

/* 按钮悬停效果 */
.floating-button:hover {
    background-color: #0056b3; /* 悬停时改变背景颜色 */
}
</style>
{{ blogBase['style'] }}

{% endblock %}
{% block header %}
<h1>
    <a>{{ blogBase['postTitle'] }}</a>
</h1>

<div class="title-right">

    <a href="{{ blogBase['homeUrl'] }}"><button id="buttonHome" class="btn btn-invisible circle" title="{{ i18n['home'] }}">
        <svg class="octicon" width="16" height="16">
            <path id="pathHome" fill-rule="evenodd" d="{{ IconList['home'] }}"></path>
        </svg>
    </button></a>

    <a href="{{ blogBase['postSourceUrl'] }}" target="_blank"><button class="btn btn-invisible circle" title="Issue">
        <svg class="octicon" width="16" height="16">
            <path id="pathIssue" fill-rule="evenodd" d="{{ IconList['github'] }}"></path>
        </svg>
    </button></a>

    <button class="btn btn-invisible circle" onclick="modeSwitch();" title="{{ i18n['switchTheme'] }}">
        <svg class="octicon" width="16" height="16" >
            <path id="themeSwitch" fill-rule="evenodd"></path>
        </svg>
    </button>

</div>
{% endblock %}

{% block content %}

<div class="listLabels">
    {% for label in blogBase['labels'] -%}
        <span class="Label" style="max-width: 100px; height: 24px; border-radius: 4px; padding: 4px 8px; margin-right: 8px; display: inline-flex; align-items: center; justify-content: center; background-color:{{ blogBase['labelColorDict'][label] }}">
            <object><a style="color:#fff; text-decoration: none; font-size: 14px;" href="{{ blogBase['homeUrl'] }}/tag.html#{{ label }}">{{ label }}</a></object>
        </span>
    {%- endfor %}
</div>
<br>

<div id="vercount_container_page_pv" style="display:none;float:left;margin-top:0px;margin-right:5px;font-size:medium;">👁<span id="vercount_value_page_pv"></span></div>
<span class="post-publish" id="postPublish" style="font-size: 14px; color: #666;">发布于 <time style="font-weight: bold; color: #333;">{{ blogBase['createdAt'] }}</time></span>
{% if blogBase['createdAt'] != blogBase['updatedAt'] %}
<span class="post-update" style="font-size: 14px; color: #666;">更新于 <time style="font-weight: bold; color: #333;">{{ blogBase['updatedAt'] }}</time></span>
{% endif %}
<p>

<div class="markdown-body" id="postBody">
{{ blogBase['postBody'] }}
</div>

{%- if blogBase['prevUrl'] or blogBase['nextUrl'] -%}
<nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">
        {%- if blogBase['prevTitle'] -%}
        <a class="previous_page" rel="previous" href="{{ blogBase['prevUrl'] }}" aria-label="Previous Page">{{ blogBase['prevTitle'] }}</a>
        {%- endif -%}
        <span style="width:200px" aria-disabled="true"></span>
        {%- if blogBase['nextTitle'] -%}
        <a class="next_page" rel="next" href="{{ blogBase['nextUrl'] }}" aria-label="Next Page">{{ blogBase['nextTitle'] }}</a>
        {%- endif -%}
    </div>
</nav>
{%- endif %}

<!-- 编辑按钮 -->
<a href="{{ blogBase['postSourceUrl'] }}" target="_blank">
    <button class="floating-button edit-post">🖋</button>
</a>

<!-- 新增按钮 -->
<a href="{{ blogBase['issuesUrl'] }}/new" target="_blank">
    <button class="floating-button new-post">+</button>
</a>

<button class="btn btn-block" type="button" onclick="openComments()" id="cmButton">{{ i18n['comments'] }}</button>
<div class="comments" id="comments"></div>
{% endblock %}

{% block script %}
<script>

{% if blogBase['commentNum']>0 -%}
    cmButton=document.getElementById("cmButton");
    span=document.createElement("span");
    span.setAttribute("class","Counter");
    span.innerHTML="{{ blogBase['commentNum'] }}";
    cmButton.appendChild(span);

    // 如果存在评论 延迟1秒后自动加载
    window.onload = function() {
    setTimeout(function() {
        openComments();
    }, 1000);
    };
{%- endif %}

function openComments(){
    cm=document.getElementById("comments");
    cmButton=document.getElementById("cmButton");
    cmButton.innerHTML="loading";
    span=document.createElement("span");
    span.setAttribute("class","AnimatedEllipsis");
    cmButton.appendChild(span);

    script=document.createElement("script");
    script.setAttribute("src","https://utteranc.es/client.js");
    script.setAttribute("repo","{{ blogBase['repoName'] }}");
    script.setAttribute("issue-term","title");
    if(localStorage.getItem("meek_theme")=="dark"){script.setAttribute("theme","dark-blue");}
    else{script.setAttribute("theme","github-light");}
    script.setAttribute("crossorigin","anonymous");
    script.setAttribute("async","");
    cm.appendChild(script);

    int=self.setInterval("iFrameLoading()",200);
}

function iFrameLoading(){
    var utterances=document.getElementsByClassName('utterances');
    if(utterances.length==1){
        if(utterances[0].style.height!=""){
            utterancesLoad=1;
            int=window.clearInterval(int);
            document.getElementById("cmButton").style.display="none";
            console.log("utterances Load OK");
        }
    }
}

</script>

{{ blogBase['script'] }}

<script src="{{ blogBase['homeUrl'] }}/assets/toc.js"></script>

{% endblock %}
